.contato-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #1e3a8a;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.container-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-group label {
    margin-bottom: 10px;
    text-align: left;
}

#form-group-borda {
    margin-bottom: 16px;
    width: 100%;
    border-top: 2px solid #ffffff;
    border-radius: 8px;
}
 
input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


.msgErroRed{
    color: red;
    font-size: 16px;
    margin-top: -25px;
}

.msgErroWhite{
    color: white;
    font-size: 14px;
}

.contato-form h3 {
    text-align: left;
    margin-top: 5px;
}


.container-sucesso{
    background: whitesmoke;
    color: var(--color-primary);
    padding: 40px 30px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
       font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
}

.container-mensagem{
    margin-top: 50px;
    font-size: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--gradient);
    border-radius: 15px;
    padding: 40px;
    color: white;
}


.container-mensagem h3{
    margin-bottom: 20px;
    text-align: left;
   
}

#dadosCliente{
    width: 75%;
    text-align: left;
    border-left: solid 2px white;
    padding-left: 10px;
    align-self: center;
    margin-top: 20px;
}

 @media (max-width: 800px) {
    .contato-info {
        grid-template-columns: 1fr;
    }
    .container-mensagem {
        width: 80%;
    }
    .dadosCliente {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .container-mensagem {
        width: 90%;
    }
    .dadosCliente {
        width: 100%;
    }
}